<%- include('partials/header') -%>

<H1>
    BIG BIG HOME PAGE !
</H1>
<% if ( username ) { %>
    <P> <%=username%> </P>
<% }  %>
<P><img src="images/midu-01.jpg"></P>
<P><img src="images/chipu-01.jpg"></P>

<P> <%= mesg %> </P>

<%- include('partials/footer') -%>